.shape {
    display: none;
}

.hero {
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
}

.hero-content {
    margin-bottom: 50px;
}

.hero .section-subtitle {
    margin-bottom: 15px;
}

.hero-title {
    color: var(--oxford-blue);
    font-size: var(--fs-1);
    font-family: var(--ff-abril-fatface);
    font-weight: var(--fw-500);
    line-height: 1.2;
    max-width: 11ch;
    margin-bottom: 15px;
}

.hero-text {
    color: var(--black-coral);
    font-size: var(--fs-7);
    line-height: 1.7;
    margin-bottom: 15px;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

@media (min-width: 575px) {

    :root {
        --fs-1: 5rem;
        --fs-3: 4rem;
        --fs-8: 1.4rem;
    }

    .hero-text {
        --fs-7: 1.8rem;
    }
}


@media (min-width: 768px) {

    .hero {
        min-height: 550px;
        display: grid;
        place-items: center;
    }

    .hero .container {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-2: 3.5rem;
        --fs-3: 4.4rem;
        --section-padding: 60px;

    }

    .hero {
        position: relative;
        min-height: 680px;
    }

    .hero-title,
    .hero-text {
        margin-bottom: 35px;
    }

    .shape {
        display: block;
        position: absolute;
        animation: rotate 8s linear infinite;
    }

    .shape-1 {
        top: 60px;
        left: 47%;
    }

    .shape-2 {
        top: 20%;
        right: 50px;
        animation-delay: 0.25s;
    }

    .shape-3 {
        left: 40%;
        bottom: 20%;
        animation-delay: 0.5s;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(1turn);
        }
    }
}