.flex {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--oxford-blue);
  }
  
  header {
    padding: 20px 0;
  }
  
  header ul {
    display: inline-block;
  }
  
  header ul li {
    display: inline-block;
    margin-left: 30px;
  }
  
  header ul li a {
    transition: 0.5s;
    cursor: pointer;
    
  }
  
  header ul li a:hover {
    color: var(--battleship-gray);
    font-weight: 500;
  }
  
  .navbar-items-icon {
    color: var(--black);
    display: none;
  }
  
  header.active {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white-1);
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
    width: 100%;
    z-index: 10;
  }
  
  @media screen and (max-width: 768px) {
    .logo h1 {
      font-size: 30px;
    }
  
    header .icon {
      display: none;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links-sidebar {
      position: absolute;
      display: block;
      background-color: var(--white-1);
      left: 50px;
      top: 75px;
      transition: all 0.5s ease;
      width: 70%;
      height: 50vh;
      z-index: 5;
      transition: transform 0.5s ease
    }
  
    .nav-links-sidebar {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
  
    header ul li {
      text-align: center;
      padding: 20px;
    }
  
    .navbar-items-icon {
      display: block;
      position: absolute;
      right: 30px;
      font-size: 30px;
    
    }
  }