.blog {
    padding-bottom: 100px;
}

.blog-card .author-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.blog-card .card-wrapper {
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    justify-content: space-between;
}

.author-name {
    color: var(--granite-gray);
    font-weight: var(--fw-500);
}

.btn-link {
    color: var(--viridian-green);
    font-weight: var(--fw-700);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.btn-link ion-icon {
    font-size: 20px;
}

.btn-link:is(:hover, :focus) {
    color: var(--oxford-blue);
}