.destination .section-subtitle {
    text-align: center;
    margin-bottom: 15px;
}

.destination .section-title {
    text-align: center;
    margin-bottom: 60px;
}

.destination-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.destination-card {
    position: relative;
    border-radius: var(--radius-6);
    overflow: hidden;
}

.destination-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(hsla(222, 46%, 17%, 0), hsla(222, 46%, 17%, 0.7));
}

.destination-card img {
    transition: var(--transition-2);
}

.destination-card:is(:hover, :focus) img {
    transform: scale(1.1);
}

.destination-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    z-index: 1;
}

.destination-card .card-subtitle {
    color: var(--mikado-yellow);
    font-family: var(--ff-comforter-brush);
    font-size: var(--fs-5);
}

.destination-card .card-title {
    color: var(--white-1);
    font-family: var(--ff-abril-fatface);
}

@media (min-width: 768px) {
    .destination-list>li {
        width: calc(33.33% - 20px);
    }

    .destination-list .w-50 {
        width: calc(50% - 20px);
    }
}


@media (min-width: 992px) {
    :root {
        --fs-2: 3.5rem;
        --fs-3: 4.4rem;
        --section-padding: 60px;

    }

    .destination {
        --fs-4: 3.2rem;
        --fs-5: 2.6rem;
    }

}